body {
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}

.nav-bar {
  background-color: #f78923de;
  overflow: hidden;
}
.nav-bar a {
  float: left;
  text-decoration: none;
  padding: 20px 20px;
  color: white;
  font-weight: 700;
  display: block;
}
h1 {
  font-size: 55px;
  color: #5a5a5a;
}
h2 {
  font-size: 40px;
}
.change-color {
  color: coral;
}
.container-element {
  margin: 0% 0%;
  display: flex;
}

.sec-one {
  margin-top: 80px;
}

.contents {
  width: 50%;
  padding: 3% 5%;
}
.contents img {
  width: 100%;
}
.adjust {
  margin-top: 100px;
}
.contents p {
  color: gray;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: justify;
}

.link-button {
  text-decoration: none;
  padding: 20px 40px;
  background-image: linear-gradient(to left, #fa3434ef, #fba24f);
  color: white;
  font-weight: 700;
  border-radius: 50px;
}
.sec-two {
  background-image: url(../images/shapes/sec-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  text-align: center;
  text-decoration: none;
  margin: 0% 20%;
  padding: 0% 2%;
}

.recipies {
  width: 30%;
  margin: 2% 5% 5%;
  padding: 2% 2%;
  border: 1px solid white;
  box-shadow: 10px 20px 40px #bbb7b7;
  border-radius: 20px;
  text-align: justify;
}
.recipies img {
  width: 100%;
  border-radius: 15px;
}
.recipies h3 {
  font-size: 25px;
}

footer {
  height: 150px;
  text-align: center;
  padding: 2%;
  color: #ffffff;
  background-color: #000000;
}
footer h3 {
  font-size: 30px;
  color: #5a5a5a;
}
.media {
  border: 10px solid white;
  margin: 2% 5% 5%;
  border-radius: 20px;
  box-shadow: 10px 20px 40px #bbb7b7;
}

.social {
  width: 30%;
  padding: 2%;
  text-align: center;
}
.social img {
  height: 40px;
  width: 40px;
}
